extends layout

block content
  h1 #{toShow.name} Details

  .container
    .row
      .col-md-6.offset-md-3
        .card
          .card-body
            h5.card-title Name: #{toShow.name}
            p Year: #{toShow.year}
            p Inventor: #{toShow.inventor}
            p Distance: #{toShow.distance} light-years
            p Type: #{toShow.type}
            
    a.btn.btn-secondary.mt-3(href='/galaxies') Back to Galaxy List
