extends layout

block content
  h1 Galaxy List

  .container
    .row
      if results && results.length > 0
        each galaxy in results
          .col-md-4
            .card.mb-4
              .card-body
                h5.card-title #{galaxy.name}
                p Year: #{galaxy.year}
                p Inventor: #{galaxy.inventor}
                p Distance: #{galaxy.distance} light-years
                p Type: #{galaxy.type}
                a.btn.btn-primary(href=`/galaxies/${galaxy._id}`) View Details
      else
        p No galaxies found.
