extends layout

block content
  h1 Plants
  a(href='/plants/create' class='btn btn-primary mb-3') Add New Plant

  .container
    .row
      each plant in results
        .col-md-4
          .card.mb-3
            .card-body
              h5.card-title= plant.plant_name
              p.card-text Type: #{plant.plant_type}
              p.card-text Age: #{plant.plant_age} years
              a(href=`/plants/detail?id=${plant._id}` class='btn btn-info') Details
              a(href=`/plants/update?id=${plant._id}` class='btn btn-warning') Update
              a(href=`/plants/delete?id=${plant._id}` class='btn btn-danger') Delete
