extends layout

block content
  h1= title
  p #{title} page is running by Veeranjaneyulu Palaka
  - let items = results
  div(class="container-fluid")
    div(class="col m-1")
      each item in items
        - let destination = `dispatch(\"/plants/update?id=${item._id}\")`
        - let destination1 = `dispatch(\"/plants/detail?id=${item._id}\")`
        - let destination2 = `dispatch(\"/plants/delete?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.plant_name}(#{item.plant_type}) is #{item.plant_age}
        button.btn( class="btn-primary m-1", onclick= destination) Update
        br
        br
        
  script.
    function dispatch(path){
      window.location.href=path
    }
 