extends layout
 
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let potionId = toShow._id
    - let name = toShow.name
    - let effect = toShow.effect
    - let potency = toShow.potency
    - let actionid = "/resource/potions/" + potionId
 
    script.
      let actionid = "#{actionid}"
 
    div.container
      div.row.mb-4
        div.col-md-12
 
      div.row.mb-3
        div.col-md-3
          div(class='potionAttr') Potion ID:
        div.col-md-9
          div #{potionId}
 
      div.row.mb-3
        div.col-md-3
          div(class='potionAttr') Potion Name:
        div.col-md-9
          div #{name}
 
      div.row.mb-3
        div.col-md-3
          div(class='potionAttr') Effect:
        div.col-md-9
          div #{effect}
 
      div.row.mb-3
        div.col-md-3
          div(class='potionAttr') Potency:
        div.col-md-9
          div #{potency}
 
      // Buttons for delete and cancel
      div.row.mt-4
        div.col-md-6
          button.btn.btn-danger.w-100(onclick="deleteOnid()") Delete
        div.col-md-6
          button.btn.btn-secondary.w-100(onclick="cancel()") Cancel
 
    script.
      function cancel() {
        window.location.href='/potions'
      }
 
    script.
      function deleteOnid() {
        console.log("starting delete")
        fetch(actionid, {
          method: 'DELETE'
        }).then((resp) => {
          return resp.json();
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/potions'
        }).catch((error) => {
          alert("Delete failed " + error)
        });
      }