<<<<<<< HEAD
//- extends layout

//- block content
//-   h1= title

extends layout

block content
  h1= title
  - var image_names = ['plant1.jpg', 'plant2.jpg', 'plant3.jpg', 'plant4.jpg', 'plant5.jpg'] 


  - for (let i = 0; i < 3; i++)
    - var randomIndex = Math.floor(Math.random() * image_names.length)
    - var imageName = image_names[randomIndex]
    img(src=`/images/${imageName}`, alt=`Random ${imageName}`, height="300", width="300")
=======

doctype html
html
  head
    title= title
  body
    h1 A Random Item

    - var image_names = ["item1.jpg", "item2.jpg", "item3.jpg", "item4.jpg", "item5.jpg"];

    each num in [1, 2, 3]
      - var randomIndex = Math.floor(Math.random() * 5);
      - var imageName = image_names[randomIndex];
      img(src=`/images/${imageName}`, alt=`Random image ${num}`, height="300", width="300")
>>>>>>> 7aed5c59f629a1cdde052b98f4532532eb01c877
